<div class="vdr" :style="style"
     :class="active || isActive ? 'active' : 'inactive'"
     @mousedown.stop.prevent="bodyDown($event)"
     @touchstart.stop.prevent="bodyDown($event)">
    <slot></slot>
    <div
            v-for="stick in sticks"
            class="vdr-stick"
            :class="['vdr-stick-' + stick, isResizable ? '' : 'not-resizable']"
            @mousedown.stop.prevent="stickDown(stick, $event)"
            @touchstart.stop.prevent="stickDown(stick, $event)"
            :style="vdrStick(stick)">
    </div>

</div>