.toolbar {
    background-color: #fff;
    border: 1px solid #EBEDF8;
    z-index: 100;
    padding: 0 10px;
}

.toolbar-heading{
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    color: #110F10;
    margin: 20px 0 10px 0;
}
.toolbar-heading:first-child{
    margin-top: 10px;
}
.sizes{
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.size-input{
    width: 100%;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    display: block;
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    height: 20px;
    color: #4e4c4e;
    padding: 0 10px 0 5px;
}
.size-input:disabled{
    border: 1px solid #eaeaea;
}
.size-label{
    position: relative;
    font-family: Roboto;
    font-weight: 300;
    font-size: 11px;
    color: #5F5D5E;
    text-align: right;
}
.size-label span{
    position: absolute;
    top: 5px;
    right: 3px;
}

.checkbox-label{
    grid-column-start: 1;
    grid-column-end: 3;

}
.checkbox-label span{
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    color: #4e4c4e;
    padding-left: 5px;
}
