<div class='toolbar' @mousedown.stop>
    <h3 class='toolbar-heading'>Dimensions</h3>
    <div class='sizes'>
        <label class='size-label'><input :disabled='toolsDisabled' class='size-input' v-model.lazy='left' @keypress='onlyNumbers'><span>X</span></label>
        <label class='size-label'><input :disabled='toolsDisabled' class='size-input' v-model.lazy='top' @keypress='onlyNumbers'><span>Y</span></label>
        <label class='size-label'><input :disabled='toolsDisabled' class='size-input' v-model.lazy='width' @keypress='onlyNumbers'><span>W</span></label>
        <label class='size-label'><input :disabled='toolsDisabled' class='size-input' v-model.lazy='height' @keypress='onlyNumbers'><span>H</span></label>
        <label class='checkbox-label'><input :disabled='toolsDisabled' class='checkbox-input' type='checkbox' v-model='aspectRatio'><span>Aspect ratio</span></label>
        <label class='checkbox-label'><input :disabled='toolsDisabled' class='checkbox-input' type='checkbox' v-model='leftIsLocked'><span>Lock x-axis</span></label>
        <label class='checkbox-label'><input :disabled='toolsDisabled' class='checkbox-input' type='checkbox' v-model='topIsLocked'><span>Lock y-axis</span></label>
    </div>
    <h3 class='toolbar-heading'>Min size</h3>
    <div class='sizes'>
        <label class='size-label'><input :disabled='toolsDisabled' class='size-input' v-model.lazy='minWidth' @keypress='onlyNumbers'><span>minW</span></label>
        <label class='size-label'><input :disabled='toolsDisabled' class='size-input' v-model.lazy='minHeight' @keypress='onlyNumbers'><span>minH</span></label>
    </div>

    <h3 class='toolbar-heading'>Stick size</h3>
    <div class='sizes'>
        <label class='size-label'><input :disabled='toolsDisabled' class='size-input' v-model.lazy='stickSize' @keypress='onlyNumbers'><span>px</span></label>
    </div>

    <h3 class='toolbar-heading'>Restrictions</h3>
    <div class='sizes'>
        <label class='checkbox-label'><input :disabled='toolsDisabled' class='checkbox-input' type='checkbox' v-model='snapToGrid'><span>Snap to grid</span></label>
        <label class='checkbox-label'><input :disabled='toolsDisabled' class='checkbox-input' type='checkbox' v-model='isResizable'><span>Is resizable</span></label>
        <label class='checkbox-label'><input :disabled='toolsDisabled' class='checkbox-input' type='checkbox' v-model='isDraggable'><span>Is draggable</span></label>
        <label class='checkbox-label'><input :disabled='toolsDisabled' class='checkbox-input' type='checkbox' v-model='parentLimitation'><span>Parent limitation</span></label>
    </div>

    <h3 class='toolbar-heading'>Layout grid</h3>
    <div class='sizes'>
        <label class='size-label'><input class='size-input' v-model.lazy='gridX' @keypress='onlyNumbers'><span>X</span></label>
        <label class='size-label'><input class='size-input' v-model.lazy='gridY' @keypress='onlyNumbers'><span>Y</span></label>
        <label class='checkbox-label'><input class='checkbox-input' type='checkbox' v-model='showGrid'><span>Show grid</span></label>
    </div>
</div>